body{
    background:rgb(119, 239, 207);
    font-family:Arial, Helvetica, sans-serif;
}

.assignments{
    display:flex;
    flex-wrap:wrap;
}
.assignment{
    width:22%;
    padding:10px;
    margin:10px;
    padding:20px 10px;
    background-color: rgb(245, 142, 142);
    boder-radius:30px;
}

.assignment img{
    width:200px;
    margin:10px;
    border:4px dashed #20B2AA;
    display:block;
    margin:auto;
}

.assignment img:hover{
    border:4px dashed #FFF;
}

h1{
    color: darkorchid;
    text-align:center
}

h1:hover{
    color: #FFF;
  
}

h2{
    text-align:center;
}

a{
text-decoration:none;
color: #FFF;
}

a:hover{
    color:darkorchid;
}